{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/chests/cardchestheader.png",
      "fileBody" : "/interface/chests/slots35.png",
      "fileFooter" : "/interface/chests/cardchestfooter.png"
    },
    "objectImage" : {
      "type" : "image",
      "position" : [89, 117],
      "file" : "",
      "centered" : true,
      "maxSize" : [40, 40],
      "minSize" : [40, 40]
    },
    "clear" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "press" : "/interface/buttonhover.png",
      "caption" : "Take all",
      "position" : [62, 15]
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [4, 70], //184
      "dimensions" : [2, 5],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "position" : [137, 70], //184
      "slotOffset" : 10,
      "dimensions" : [2, 5],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "outputItemGrid" : {
      "type" : "itemgrid",
      "position" : [4, -82],
      "slotOffset" : 20,
      "dimensions" : [9, 8],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "count" : {
      "type" : "label",
      "value" : "<slots> SLOTS",
      "hAnchor" : "mid",
      "position" : [89, 167]
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [161, 182]
    }
  }
}
